@font-face {
    font-family: Norse-Bold;
    src: url("./Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    display: flex;
}

.main-container {
    flex: 2;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-container {
    background-color: #F9FAFC;
    font-size: 2.1rem;
    font-weight: 550;
    padding: 60px;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 2.1rem;
}

.top-main {
    max-width: 80%;
}

.inputs-container {
    height: 400px;
    padding-left: 60px;
    padding-bottom: 20px;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.double-input-row {
    gap:2rem;
    height: 75px;

    display: flex;
    align-items: center;
}

.input-container label {
    font-size: 1rem;
    letter-spacing: 2px;

    display: flex;
    gap: 6px;
    flex-direction: column;
    width: 250px;
    position:relative;
}

.input-container input {
    font-size: 20px;
    padding: 4px;
    height: 36px;
    border: solid 3px #E5E7EB;
    border-radius: 4px;
}

.input-container input:focus {
    outline: none;
    border: solid 3px #72A0C1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.input-container input.pw-error,
.input-container input:invalid:not(:focus):not(:placeholder-shown) {
    border: solid 3px red;
}
.input-container span.pw-error-container {
    position: absolute;
    top: 60px;
}
.input-container span.pw-error::after {
    font-size: 14px;
    color:red;
    content: "*passwords must match";
}

button {
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #F9FAFC;
    background-color: #596D48;
    padding: 16px 36px;
    cursor: pointer;
}

.submit-container {
    background-color: #F9FAFC;
    padding: 30px 60px;
    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1rem;
}

.submit-container div {
    font-size: 1.2rem;
}

.submit-container a {
    text-decoration: none;
    font-weight: 550;
    color: #596D48;
}

.bg-container {
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-position: 50% 50%;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    flex: 1;
}

.bg-footer {
    align-self: center;
    margin-bottom: 8px;
}

.bg-footer a {
    color:#FFFFFF;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: "Norse-Bold";
    font-size: 12rem;
    margin-top: 20vh;
    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.logo-container img {
    max-height: 100%;
}