@font-face {
    font-family: Norse-Bold;
    src: url("./Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
}

.main-container {
    background-color: #999999;

    flex: 2;
}

.top-container {
    background-color: rgb(184, 124, 124);
}

.bg-container {
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-position: 50% 50%;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    flex: 1;
}

.bg-footer {
    align-self: center;
    margin-bottom: 8px;
}

.bg-footer a {
    color:#FFFFFF;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-family: "Norse-Bold";
    font-size: 12rem;
    margin-top: 20vh;
    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.logo-container img {
    max-height: 100%;
}